 /* titulo principal
 @import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:ital,wght@0,400;1,300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

 h1{
    color: blueviolet;
    background-color: beige;
    text-align: center;
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    word-spacing: 10px;
 }

h2{
    color: darkmagenta;
    font-size: 2em;
    font-weight: 300;
    vertical-align:sub;
    white-space:unset;
    line-height: 20px;
}

 p{
    color: brown;
    background-color: honeydew;
    font-family: 'Roboto', sans-serif;
    font-variant:small-caps;
    text-decoration:overline;
 }

 li{
    color: blue;
    font-family: 'Marck Script', cursive;
    text-indent: 10px;
    text-transform: lowercase;
    letter-spacing: 3px;
    list-style:disc;
 }
 
 p.georgia{
    color:indigo;
    background-color: ghostwhite;
    font-size:6vw;
    font-style:italic;
    text-shadow: 2px 1px 5px violet;
 }

*{

    box-sizing: border-box;
}
div{
    border:double 5px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 500px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 10px;
    width: 30px;
} */

h2{
    border: 20px black;
    padding-left: 300px;
}

p{
    padding-left: 300px;
    width: 535px;
}

img{
    width: 8%;

}